body{
    background-color: #efefef;
}
/*发现文字样式*/
.find{
    width: 100%;
    height:0.8rem;
    font-size: 0.3rem;
    color: #fff;
    background-color: #007aff;
    line-height: 0.8rem;
    padding-left: 0.35rem;
    box-sizing: border-box;
}
/*包裹4个section的div，宽度100%，加了上下左右的padding，往里挤*/
.integral{
    width:100%;
    background-color: #fff;
    padding: 0.3rem;
    box-sizing: border-box;
    /*display: flex;*/
    /*justify-content: space-between;*/
}
/*4个section是存放在a标签当中，点击任意区域可以跳转到其他页面，转化为行内块，宽度为50%，左浮动*/
.integral a{
    display: inline-block;
    width: 50%;
    height: 1.8rem;
    float: left;
    border-right: 0.01rem solid #ccc;
    border-bottom: 0.01rem solid #ccc;
    box-sizing: border-box;
}

.integral a:nth-child(even){
    border-right: none;
}
/*底下的2个a标签不要border*/
.integral a:nth-child(3),.integral a:nth-child(4){
     border-bottom: none;
 }
.integral a .note{
    margin-top: 0.4rem;
}
/*2行p标签是左浮动*/
.integral a p{
    color: #666666;
    font-size: 0.2rem;
}
.integral a .p1{
    font-size: 0.28rem;
    color: #df5000;
    margin-bottom: 0.16rem;
}
/*图片转化为行内块，右浮动，给出合适的宽高*/
.integral a img{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: 0.4rem;
}
